* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.8s ease;
  font-size: 14px;
}

.time-select button:hover {
  background: #ccc;
  color: rgb(70, 70, 70);
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}

.sound-picker button:nth-child(1) {
  border: 1px solid #ccc;
  background: rgba(235, 235, 235, 0);

}

.sound-picker button:nth-child(2) {
  border: 1px solid #ccc;
  background: rgba(235, 235, 235, 0);
}

.sound-picker button:hover {
  background: rgba(235, 235, 235, 0.158);

}

.sound-picker button img {
  height: 100%;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}
