@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: #333 url("img.jpg") no-repeat center center / cover;
  color: rgb(59, 59, 59);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: rgb(68, 68, 68);
}

.txt-type > .txt {
  border-right: 0.1rem solid rgb(68, 68, 68);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
