* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #91dae7, #8ac9f3);
  color: white;
  min-height: 100vh;
}

header,
form {
  min-width: 30vh;
  display: flex;
  justify-content: center;
  align-content: content;
}

form input,
form button {
  padding: 10px;
  border: none;
  background: white;
}

form button {
  color: rgb(17, 82, 82);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgb(54, 214, 188);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: rgb(214, 54, 54);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.complete-btn {
  background: rgb(54, 214, 188);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
