@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

body {
  font-family: "Raleway", sans-serif;
  color: rgb(59, 59, 59);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  color: rgb(68, 68, 68);
}

.txt-type > .txt {
  border-right: 0.1rem solid rgb(68, 68, 68);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.hero {
  height: 100vh;
  font-size: 20px;
  background: #333 url("./img/img.jpg") no-repeat center center / cover;
}

footer {
  height: 500px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 400px;
  justify-content: space-around;
  margin-right: 20px;
}

li {
  text-decoration: none;
  font-weight: bold;
}

.resume-btn {
  background-color: rgba(68, 68, 68, 0.26);
  border-radius: 30px;
  text-align: center;
  padding: 12px;
  width: 140px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  border: none;
  margin-left: 5px;
  transition: 0.25s;
}

.resume-btn:hover {
  transform: translateY(-0.25em);
}

.logo {
  height: 60px;
  margin: 10px 15px 0px 35px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 88px;
}

.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 88px;
  margin-top: 20px;
}

.headshot {
  width: 350px;
  border-radius: 50%;
}

.h2-about,
.h2-project {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.information {
  padding: 50px;
}

.project-card {
  width: 790px;
  height: 460px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  padding: 34px;
  border-radius: 30px;
}

.project-container {
  display: flex;
  justify-content: center;
}

.subtext {
  font-size: 17px;
  font-weight: 300;
}

.project-img {
  width: 300px;
  border-radius: 125px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
}

h3 {
  font-size: 22px;
}

footer {
  height: 200px;
  background-color: #333;
  color: #ccc;
  padding: 80px;
  text-align: center;
}

footer h2 {
  color: #ccc;
}

.phone-menu {
  display: none;
}

@media (max-width: 1200px) {
  .phone-menu {
    border: 0;
    background-color: transparent;
    display: block;
    margin: 10px;
    align-self: flex-end;
  }
  ul {
    display: none;
    margin: 0;
    background-color: #333;
    margin-bottom: 20px;
  }
  li {
    margin: 10px;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #333;
  }
  .logo {
    display: none;
  }
  .sub-section {
    display: contents;
  }
  .headshot {
    margin-left: 20%;
  }
  .project-card {
    height: 500px;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  ul a {
    display: flex;
    justify-content: center;
    color: #ccc;
  }
}

ul.show {
  display: block;
}
